.h1{
    font-size: larger;
    font-family: monospace;
}
.entirebody{
    background-color: palegoldenrod;
}
.h1{
    font-style: italic;
}
.lists{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}