		.first-list{
			font-size: larger; 
			font-family: 'Courier New', Courier, monospace;
		}
		.second-list{
			font-family: 'Courier New', Courier, monospace;
			font-size: larger;
			
		}
		.entire-body{
			background-color: rgb(240, 187, 195);
		}
		.box{
			display: grid;
			grid-template-columns: 500px 500px;
		}